.general{
    position: relative;
    background-color:#EDC7F1;
    
}

.photo1{
    display: flex;
    background-image: url("./cats/cat1.jpg");
    width: 650px;
    height: 700px;
    position: absolute;
    opacity: 1;
    z-index: 0;
}

.photo2{
    background-image: url("./cats/cat2.jpg");
    width: 650px;
    height: 700px;
    position: absolute;
    opacity: 1;
    margin-left: 750px;
    display: flex;
    z-index: 1;
}
.photo3{
    background-image: url("./cats/cat3.jpg");
    width: 650px;
    height: 700px;
    position: absolute;
    opacity: 1;
    margin-left: 800px;
    display: flex;
    z-index: 2;
}

.photo4{
    background-image: url("./cats/cat4.jpg");
    width: 650px;
    height: 700px;
    position: absolute;
    opacity: 1;
    margin-left: 900px;
    display: flex;
    z-index: 3;
}


.text1{
    display: flex;
    margin-left: 40%;
    opacity: 0;
    font-size: 60px;
}

.text2{
    display: flex;
    margin-left: 40%;
    opacity: 0;
    font-size: 60px;
}

.text3{
    display: flex;
    margin-left: 40%;
    opacity: 0;
    font-size: 60px;
}

.text4{
    display: flex;
    margin-left: 40%;
    opacity: 0;
    font-size: 60px;
}


.text1 p{
 display: flex;
 justify-content: center;
 align-items: center;
 

}

.text2 p{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.text3 p{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.text4 p{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
   
   

